[submodule "debian/modules/nginx-rtmp-module"]
	path = debian/modules/nginx-rtmp-module
	url = https://github.com/dreamsxin/nginx-rtmp-module.git
[submodule "debian/modules/ngx_http_qrcode_module"]
	path = debian/modules/ngx_http_qrcode_module
	url = https://github.com/dreamsxin/ngx_http_qrcode_module.git
[submodule "debian/modules/nginx-push-stream-module"]
	path = debian/modules/nginx-push-stream-module
	url = https://github.com/dreamsxin/nginx-push-stream-module.git
